<main>
	<h1>Let's chat.</h1>
<!-- 	<img src="img/kevin2.jpeg" alt="Kevin Kieninger Profile" class="contact-photo"> -->
	<p>Have a project you want to work on together? Some friendly words of wisdom for a budding web developer? Or perhaps you'd just like to say hello?</p>		
</main>
<section>
	<h2>Drop me a line</h2>
	<ul class="contact-info">
		<li class="contact-li"><img src="img/icons/email-icon.svg" alt="Email Icon" class="contact-icon"><a href="mailto:ktkienin@gmail.com">ktkienin@gmail.com</a></li>
		<li class="contact-li"><img src="img/icons/phone-icon.svg" alt="Phone Icon" class="contact-icon"><a href="tel:586-899-8340">586.899.8340</a></li>
	</ul>
	<p>Let's start a conversation.</p>
</section>